<div id="movie-potatometer">
	<% if @movie.potatometer > 50 %>
			<img src="http://4.bp.blogspot.com/_Ek99dG2xVto/TNqKDF5sJyI/AAAAAAAAAGM/zA7uT-huhHw/s1600/very+angry+potato.jpg" height="100px" width="100px">
			<h1>Potatometer<br> <%= @movie.potatometer %>%</h1>
	<% else %>
			<img src="http://i.imgur.com/SUhkF3q.gif" title="Hosted by imgur.com" height="100px" width="100px" />
				<h1>Potatometer<br> <%= @movie.potatometer %>%</h1>
	<% end %>

</div>

<div class="movie-title-poster">
	<div id="movie-title">
		<h1><%= @movie.title %></h1>
	</div>

	<div id="movie-poster">
		<img src="<%= @movie.poster_url%>" alt="movie poster">
	</div>
</div>


<div id="movie-synopsis">
	<u>Synopsis</u><br> <%= @movie.synopsis %>
</div>

<div id="movie-actors">
</div>

	<h3>Comments</h3>
	<form id="comment-box" action="/movie/<%= @movie.id %>" method="POST">
		<textarea id="comment-text" name="text" placeholder="Add in comment"></textarea><br><br>
		<input type="submit" name="Submit">
	</form><br>

<div id="comments">
	<% if @movie.comments %>
		<% @movie.comments.each do |comment| %>
			User: <%= comment.user.name %><br>
			Time: <%= comment.created_at %><br>
			Comment: <%= comment.text %><br><br>
		<% end %> 
	<% end %>
</div>
